@use "../../variables" as variable;


.navbarContainer{
  width: 100%;
  padding-left: 30px ;
  padding-right: 4pc;
  padding-bottom: 20px;
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: variable.$color-gray-caviar;

}

.userContainer{
  margin-left: 20px;
  margin-right: 20px;
  color: variable.$hover-primary;
}