@use "../../variables" as variable;

.rowContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border: variable.$color-text solid 1px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 800px;

  &[data-type="incomse"] {
    border-left: 10px solid variable.$color-tennis;
  }
  &[data-type="expense"] {
    border-left: 10px solid variable.$color-error;
  }
  &[data-type="transfer"] {
    border-left: 10px solid variable.$color-blue;
  }
  &[data-type="in-transfer"] {
    border-left: 10px solid variable.$color-blue;
  }
  &[data-type="out-transfer"] {
    border-left: 10px solid variable.$color-blue;
  }

  p {
    margin: 0;
    padding: 0 10px;
    min-width: 150px;
  }
}

.rowContainer:hover {
  background-color: variable.$color-gray-caviar;
}
.transactionType {
  align-content: center;
  justify-content: center;
  padding: 5px 10px 5px 10px;
  border-radius: variable.$radius-small;
  &[data-type="in-transfer"] {
    color: variable.$color-tennis;
  }
  &[data-type="out-transfer"] {
    background-color: variable.$color-blue;
  }
  &[data-type="expense"] {
    background-color: variable.$hover-error;
    padding: 5px 30px 5px 10px;
  }
  &[data-type="incomse"] {
    background-color: variable.$color-success;
    padding: 5px 30px 5px 10px;
  }
}
