@use "../../variables" as variable;

.rowContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border: variable.$color-text solid 1px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &[data-type="incomse"] {
    border-left: 10px solid variable.$color-success;
  }
  &[data-type="expense"] {
    border-left: 10px solid variable.$color-error;
  }
  &[data-type="transfer"] {
    border-left: 10px solid variable.$color-blue;
  }
  &[data-type="in-transfer"] {
    border-left: 10px solid variable.$color-blue;
  }
  &[data-type="out-transfer"] {
    border-left: 10px solid variable.$color-blue;
  }

  p {
    margin: 0;
    padding: 0 10px;
    width: 50%;
  }
}

.rowContainer:hover {
  background-color: variable.$color-gray-caviar;
}
.transactionType {
  &[data-type="in-transfer"] {
    color:variable.$color-success;
  }
  &[data-type="out-transfer"] {
    color: variable.$hover-cancel;
  }
}
