.accountContainer {
  padding: 20px;
}
.divider {
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}
.accountHeader{
  padding: 20px;
}
.accountBody{
  max-height: 800px;
  overflow-y: auto
}