@use "../../variables" as variable;
.rowDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}
.rowContainer {
  display: flex;
  justify-content: s flex-start;
  align-items: center;
      max-width: 800px;
  border: 1px solid variable.$color-text;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 5px;
}
.rowContainer:hover {
  border: 1px solid variable.$color-tennis;
}
span {
  min-width: 100px;
}
// account.module.scss
.totalBalance {
  font-weight: bold;

  // Use & to create .balance.plus-value
  &.plusValue { 
    color: variable.$color-tennis;
  }

  &.minusValue {
    color: variable.$color-error;
  }
}