@use "../variables" as variable;
@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap");

.formContainer {
  background: variable.$gradient-bg;
  width: 540px;
  height: 630px;
  padding: 2rem 4rem;
  border: 2px solid variable.$color-stroke;
  border-radius: 25px;
}

.header {
  text-align: center;
  margin: 3rem 0 0 0;

  p {
    color: variable.$color-text;
    font-size: variable.$font-md;
    letter-spacing: 1px;
    font-weight: 400;
  }
}

.lForm {
  width: 100%;
}

.terminal {
  display: flex;
  justify-content: center;
}

/*form styles*/

.form {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.input {
  padding: 0 0 0.5rem 0;
  border: none;
  border-bottom: 2px solid variable.$color-text;
  background: none;
  font-size: variable.$font-base;
  font-weight: 400;
  outline: none;
  color: variable.$color-text;

  &:focus {
    border-bottom-color: variable.$color-tennis;
    background: none;
    color: variable.$color-text;
  }

  &:-webkit-autofill {
    -webkit-background-clip: text;
    background-color: transparent !important;
    -webkit-text-fill-color: variable.$color-text;
  }

  &::placeholder {
    color: variable.$color-gray-light;
  }
}

.input:not(:last-of-type) {
  margin-bottom: 2.5rem;
}

.eyeIcon {
  cursor: pointer;
  position: relative;
  bottom: 27px;
  left: 20rem;
}

.btnGroup {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.forgotPassword {
  color: variable.$color-gray-light;
  text-align: right;

  cursor: pointer;
  font-size: variable.$font-xs;
  transition: all 0.5s ease-in-out;

  &:hover {
    color: variable.$color-purple;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .input {
    font-size: variable.$font-sm;
  }

  .input:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  .eyeIcon {
    bottom: 25px;
    left: 16.4rem;
  }

  .btnGroup {
    margin-top: 3rem;
  }

  .forgotPassword {
    margin-top: -5px;
  }
}
