@use "../variables" as variable;

.updatePasswordContainer{

}
.divider{
  background-color: variable.$color-text;
  width: 100%;
  height: 1px;
  margin: 20px 0;

  

}
.formContainer {
  background: variable.$gradient-bg;
  width: 540px;
  height: 530px;
  padding: 2rem 4rem;
  border: 2px solid variable.$color-stroke;
  border-radius: 25px;
}

.input {
  padding: 0 0 0.5rem 0;
  border: none;
  border-bottom: 2px solid variable.$color-text;
  background: none;
  font-size: variable.$font-base;
  font-weight: 400;
  outline: none;
  color: variable.$color-text;

  &:focus {
    border-bottom-color: variable.$color-tennis;
    background: none;
    color: variable.$color-text;
  }

  &:-webkit-autofill {
    -webkit-background-clip: text;
    background-color: transparent !important;
    -webkit-text-fill-color: variable.$color-text;
  }

  &::placeholder {
    color: variable.$color-gray-light;
  }
}

.input:not(:last-of-type) {
  margin-bottom: 2.5rem;
}

.inputContainer{
  padding: 30px;
}
.buttonContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}